.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

#cards {
    border: solid black;
    border-width: 1px;
}

table td, tr {
    border: solid black;
    border-width: 1px;
    text-align: center;
    padding: 3px 10px;
}

.red-container {
    color: red;
    border: solid red;
    border-width: 1px;
}